<div class="container mt-5 text-center">
	<h1>Rezervari</h1>
	<%= month_calendar(events: @eveniments, tours: @tours) do |date,eveniments,tours|%>
	<div class="day">
		<%= date.day%>
	</div>
	<% eveniments.each do |eveniment| %>
      <div class="card-header">
		<h7 class="card-title">
			<% if @tours.present? %>
				  <% eveniment_tours = @tours.where(eveniment_id: eveniment.id) %>
				  <% eveniment_tours.each do |tour| %>
					  <%= link_to eveniment.titlu, tour_path(tour) %>
			<% end %>
				  <% end %>
		</h7>
		<!-- de facut rezervari pt evenimente-->
		<%end%>
			<%end%>
</div>