<h1>Editing rezervare</h1>

<%= render "form", rezervare: @rezervare %>

<br>

<div>
  <%= link_to "Show this rezervare", @rezervare %> |
  <%= link_to "Back to rezervares", rezervares_path %>
</div>
