<div id="<%= dom_id tour %>">
<p>
    <strong>Eveniment:</strong>
    <% eveniment = Eveniment.find_by(id: tour.eveniment_id) %>
    <% if eveniment.present? %>
      <% eveniment.update_attribute(:tours_id, tour.id) %>
      <%= link_to eveniment.titlu, eveniment %>
    <% end %>
  </p>
  <p>
    <strong>Data ora:</strong>
    <%= tour.data_ora %>
  </p>

  <p>
    <strong>Detalii:</strong>
    <%= tour.detalii %>
  </p>

</div>
