<h1>Editing eveniment</h1>

<%= render "form", eveniment: @eveniment %>

<br>

<div>
  <%= link_to "Show this eveniment", @eveniment %> |
  <%= link_to "Back to eveniments", eveniments_path %>
</div>
