<p style="color: green"><%= notice %></p>

<h1>Evenimente</h1>

<div id="eveniments">
  <% @eveniments.each do |eveniment| %>
    <%= render eveniment %>
    <p>
      <%= link_to "Vizualizare eveniment", eveniment %>
    </p>
  <% end %>
</div>

<%= link_to "Eveniment nou", new_eveniment_path %>
