<p style="color: green"><%= notice %></p>

<h1>Eveniments</h1>

<div id="eveniments">
  <% @eveniments.each do |eveniment| %>
    <%= render eveniment %>
    <p>
      <%= link_to "Show this eveniment", eveniment %>
    </p>
  <% end %>
</div>

<%= link_to "New eveniment", new_eveniment_path %>
